main {
    background-color: #bbbbbb;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.20);
}

.grid {
    grid-column: 1/3;
}


/* .carrossel {
    display: grid;
    grid-column: 1/3;
    background-color: bisque;
} */

.carrossel img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.descricacao {
    display: grid;
    gap: 10px;
}

.descricacao>.h2-titulo1 {
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: 900;
    border-bottom: 1px solid #fc8524bb;
    padding-bottom: .2rem;
    color: var(--orange);
}

.card-noticia {
    display: grid;
    grid-template-columns: 162px 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    align-items: center;
    border-bottom: 1px solid #cecece;
}

.card-img {
    width: 162px;
    height: 162px;
    display: block;
    grid-column: 1/2;
    grid-row: 1/5;
    margin-bottom: .8rem;
    object-fit: cover;
}

.card-titulo {
    grid-column: 2/5;
    font-size: 1rem;
    font-weight: 900;
}

.plubi {
    grid-column: 2/4;
    color: #838383;
    font-size: .8em;
}

.bt-compartilha {
    display: flex;
    justify-content: space-evenly;
    background-color: #1877f2;
    width: 100px;
    padding: .3rem;
    align-items: center;
    margin-left: auto;
    font-size: .7rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .325rem;
}

.card-descricao {
    grid-column: 2/5;
    font-size: 0.9rem;
    color: #3F3C45;
}

.coments {
    display: flex;
    justify-content: flex-end;
    grid-column: 3/5;
    gap: 30px;
    font-size: .8rem;
}

.veja-mais {
    margin-top: .625rem;
    display: flex;
    justify-content: flex-end;
    font-size: .8rem;
}

/* Coluna lado direita */
.forum {
    grid-column: 3;
    border-left: 1px solid #fc85248f;
    padding-left: 1.6rem;
}

.forum img {
    display: block;
    width: 100%;
    height: 250px;
}

.populares .h2-titulo1 {
    font-size: 1rem;
    padding-top: .7rem;
    padding-bottom: .2rem;
    font-weight: 700;
    color: var(--orange);
    border-bottom: 1px solid #fc8524bb;
    margin-bottom: .625rem;
}

.card-populares {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 75px;
    column-gap: .4rem;
    margin-bottom: .325rem;
    padding: .3em;
    height: 100%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}

.card-populares:hover {
    border-radius: .2rem;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgba(197, 197, 197, 0.1);
    border-left: 1px solid rgba(197, 197, 197, 0.6);
    border-right: 1px solid rgba(197, 197, 197, 0.6);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-populares img {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.populares__title {
    padding-top: .6rem;
    grid-row: 1;
    grid-column: 2/3;
}

.views {
    font-size: .8rem;
}



/* FOOTER */
.footer-container {
    position: relative;
    height: auto;
    color: #F2F2F2;
    background: var(--gray-light) url(assets/images/background-footer.svg) no-repeat center / cover ;
}

.footer__midia {
    padding: .8rem;
}

.footer__midia > .fa-brands {
    font-size: 1.6rem;
    padding: .4rem;
    cursor: pointer;
    transition: var(--transition);
}

.footer__midia > .fa-brands:hover {
   color: var(--orange);
   transition: var(--transition);
}

.footer__wrapper {
    display: grid;
    justify-content: space-evenly;
    padding: 1rem 0 2rem;
    grid-template-columns: 350px 1fr 1fr;
    gap: 2rem;
}

.footer__title {
    padding-bottom: .325rem;
}

.about {
    grid-column: span 1;
}

.title__wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-left: .325em;
    margin-bottom: .8rem;
    border-bottom: 2px solid var(--orange);
}

.title__wrapper .bi {
    color: var(--orange);
}

.footer__about-us {
    line-height: 1.3;
    font-size: .9rem;
}

.services {
    grid-column: 2/4;
    max-width: 380px;
}

.services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 150px;
}

.link__footer {
    color: #F2F2F2;
}

.link__footer:hover {
    text-decoration: underline;
}

.direitos-autorais {
    text-align: center;
    padding: 1rem;
    font-size: .9rem;
    background-color: rgba(0, 0, 0, 0.5);  
}