@import url(aside__spotlight-image.css);
@import url(aside__card-item.css);
@import url(aside__card-img.css);
@import url(aside__card-wrapper.css);
@import url(aside__card-title.css);
@import url(aside__card-views.css);

.aside__forum{
    border-left: 1px solid #fc85248f;
    grid-column: 3;
    padding-left: 1.6rem;
}