.admin-area__input {
    border-radius: 0.2rem;
    border: 1px solid rgb(194, 194, 194);
    padding-top: 20px;
    padding-left: 0.5rem;
    font-size: .8rem;
    padding-bottom: 0.325rem;
    color: var(--dark-orange);
}

.admin-area__input:focus {
    outline: 1px solid var(--dark-orange);
}

.admin-area__input::placeholder {
    visibility: hidden;
    color: #00000000;
}


/* ÃCONE DE MOSTRAR A SENHA */ 
.admin-area__icon > .bi {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    margin: auto;
    color: var(--dark);
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.325rem;
    transition: all .325s;
}

.admin-area__icon > .bi:hover {
    color: var(--dark-orange);
    transition: all .325s;
}
