.admin-area__container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
    padding-left: 3rem;
    width: 100%;
}

/* ACCESS BUTTON IN ADMINISTRATION AREA */
.btn__access {
    background-color: var(--dark-orange);
    margin-left: auto;
    padding: .6rem;
    grid-column: 3;
    width: 100%;
}

.admin-area__forgotit {
    color: var(--dark-orange);
    font-weight: 700;
    padding: 0.325rem;
    text-align: left;
}

.admin-area__forgotit:hover {
    color: #cf6610;
}

@media screen and (max-width: 600px) {
    .btn__access {
        grid-column: span 2;
    }
}