.admin-area__label {
    position: absolute;
    font-size: 1rem;
    left: 0.5rem;
    top: .9rem;
    transition: all .325s;
    color: var(--gray-dark);
}

.admin-area__input:not(:placeholder-shown) + .admin-area__label, .admin-area__input:focus + .admin-area__label {
    font-size: 0.8rem;
    top: 0.25rem;
    transition: all .325s;
    color: var(--gray-light);
}
