.header__login {
    align-items: center;
    border-left: 1px solid #F2F2F2;
    color: #F2F2F2;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding-left: 1rem;
    transition: var(--transition);
}

.header__login:hover {
    color: var(--orange);
    transition: var(--transition);
}

.header__profile {
    font-size: 1.6rem;
    padding: 0 .25rem;
}

.header__caption {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: .15rem;
}

