.header__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__items {
    padding: .325rem;
    cursor: pointer;
    height: 70px;
}

.header__link {
    display: flex;
    font-size: 1rem;
    color: #f2f2f2;  
    height: 100%;
    align-items: center;
    transition: var(--transition);
}

.header__link > .bi {
    font-size: .7rem;
    margin-left: 0.2rem;
}

.header__link:hover {
    color: var(--orange);
    transition: var(--transition);
}


/* SUBMENU */
.header__sublist {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    background-color: rgb(63, 60, 69, .9);
    width: 100%;
    gap: .5rem;
    padding: .8rem;
    max-width: 500px;
    max-height: 300px;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px 0px rgb(0, 0, 0, .8);
    visibility: hidden;
    transition: var(--transition);
    z-index: 1;
}

.header__items:hover .header__sublist {
    visibility: visible;
    transition: var(--transition);
}

.header__items-gender {
    font-size: 1rem;
    padding: .325rem;
}

.header__link-gender {
    color: #f2f2f2;
}

.header__link-gender:hover {
    color: var(--orange);
}

.header__link-gender > .bi {
    font-size: .7rem;
    vertical-align: middle;
    margin-right: .325rem;
}