.header__wrapper {
    align-items: center;
    display: flex;
}

.header__form {
    width: 400px;
}

.header__label {
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    height: 40px;
    position: relative;
    overflow: hidden;
    outline: 0;
}

.header__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding: .325rem;
    padding-left: .825rem;
    width: 60px;
}

.header__icon > .bi{
    color: var(--orange);
    font-size: 1.5rem;
}

.header__search {
    background-color: transparent;
    border: none; 
    display: block;
    padding: .325rem 0;
    outline: none;
    width: 100%;
}

.header__btn-search {
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: var(--orange);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    padding-right: .625rem;
    width: 60px;
}

.header__btn-search:hover {
    background-color: #cf6610;
}
