.dashboard__footer-container {
    align-items: center;
    box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, .3);
    color: #464646;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    height: 100%;
    padding: 0 1.3rem;
    width: 100%;
    -webkit-box-shadow: inset 0px 1px 5px -1px rgba(0, 0, 0, .3);
}

.dashboard__version {
    color: var(--dark-orange);
    font-weight: bold;
}

.dashboard__version:hover {
    color: #ff912b;
    cursor: pointer;
}