.dashboard__profile {
    display: flex;
    align-items: center;
    margin-left: .6rem;
    gap: .5rem;
}

.dashboard__image {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.dashboard__nickname {
    display: block;
    font-size: .9rem;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;  
}