.dashboard__configuration {
    align-items: center;
    color: #595959;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: .5rem;
    margin-right: 1.5rem;
    user-select: none;
}

.dashboard__notification, 
.dashboard__config-icon > .bi {
    align-items: center;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    height: 36px;
    justify-content: center;
    position: relative; 
    padding: .6rem;
    width: 36px;
}

.dashboard__notification:hover, 
.dashboard__config-icon > .bi:hover {
    background-color: #d4d4d4;
    transition: var(--transition-2);
}

.number-notification {
    align-items: center;
    border-radius: 10px;
    color: black;
    background-color: rgb(140, 255, 45);
    display: flex;
    font-weight: 700;
    font-size: .5rem;
    height: 14px;
    justify-content: center;
    outline: 3px solid #f2f2f2;
    position: absolute;
    padding: .2rem;
    right: 2px;
    top: -2px;
    width: 14px;
}

.dashboard__config-icon {
    display: flex;
    gap: .5rem;
}

.dashboard__config-icon > .bi {
    padding: .5rem;
}