.main-home__corousel {
    position: relative;
    grid-column: span 2;
    height: 350px;
    position: relative;
    background: url(/assets/images/sem-imagem-de-fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-home__corousel-container {
    align-items: center;
    display: flex;
    height: 100%;
}

.main-home__corousel-slides {
    width: 100%;
}

.main-home__image-carousel {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
}


/* REMOVING DOT SLICK DEFAULT STYLES */
.slick-dots {
    position: absolute;
    bottom: 12px;
    display: block;
    width: 100%;
}

.slick-dots li {
    position: relative;
    top: 0;
    bottom: 0;
    cursor: pointer;
}


.slick-dots li button:before {
    position: absolute;
    width: 15px;
    height: 15px;
    content: '';
    border-radius: 1rem;
    background: rgba(158, 158, 158, 0.6);
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: var(--orange);
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}

.slick-dots li button:hover::before {
    background-color: var(--orange);
    opacity: 70%;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-track {
    height: 350px;
}

.slick-next:before, .slick-prev:before, .slick-arrow, .slick-arrow::before {
    display: none;
    position: absolute;
    left: -10000px;
}