.main-home__corousel {
    grid-column: span 2;
    height: 100%;
    max-height: 350px;
    position: relative;
}

.main-home__corousel-container {
    align-items: center;
    display: flex;
    height: 100%;
}

.main-home__corousel-slides {
    height: 100%;
}

.main-home__image-carousel {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* ACTIONS FORWARD AND BACK BUTTONS SLIDER */
.js-btn-carousel {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 40px;
}

.js-carousel--simple-prev {
    left: 0;
}

.js-carousel--simple-next {
    right: 0;
}

.main-home__corousel-container .fa-solid {
    color: var(--orange);
    font-size: 3rem;
}

.js-carousel--simple-prev .fa-solid:hover,
.js-carousel--simple-next .fa-solid:hover {
    color: #cf6610;
}

/* REMOVING DOT GLIDER DEFAULT STYLES */
.js-carousel--simple-dots {
    bottom: 1rem;
    display: flex;
    gap: .3rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.glider-dot {
    border-radius: 15px;
    background: #c6c6c6;
    cursor: pointer;
    display: block;
    height: .7rem;
    margin: 0;
    padding: .325rem;
    transition: .6s;
    width: .7rem;
}

.glider-dot:focus,
.glider-dot:hover {
    background: #d3d3d3;
}

.glider-dot.active {
    background: var(--orange);
    transition: .6s;
    width: 25px;
}