.main-home__card-news {
    align-items: center;
    border-bottom: 1px solid #cecece;
    display: grid;
    grid-template-columns: 162px 1fr 1fr 1fr;
    gap: 5px 10px;
}

.main-home__card-img {
    display: block;
    grid-column: span 1;
    grid-row: span 5;
    height: 162px;
    margin-bottom: .6rem;
    object-fit: cover;
    width: 100%;
}

.main-home__card-title {
    font-size: 1rem;
    font-weight: 900;
    grid-column: span 3;
}

.main-home__published {
    color: #838383;
    font-size: .8em;
    grid-column: span 2;
}


.main-home__description {
    color: #3F3C45;
    font-size: 0.8rem;
    grid-column: span 3;
    line-height: 1.2;
}

.main-home__comments {
    align-items: center;
    display: flex;
    font-size: .8rem;
    grid-column: 3/5;
    gap: 15px;
    justify-content: flex-end;
}