.p-footer__midia {
    display: flex;
    align-items: center;
    padding: .8rem;
    gap: .5rem;
}

.p-footer__midia > .fa-brands {
    font-size: 1.6rem;
    padding: .5rem;
    cursor: pointer;
    transition: var(--transition);
}

.p-footer__midia > .fa-brands:hover {
    color: var(--orange);
    transition: var(--transition);
}