.main-register__form-items {
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    max-width: 100%;    
}

.main-register__form-item {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: .6rem;
    position: relative;
    width: inherit;
}

.main-register__form-label {
    color: var(--gray-dark);
    padding-left: .125rem;
    padding-bottom: .125rem;
    font-size: 1rem;
    font-weight: 300;
}

.main-register__form-input,
.main-register__form-select {
    background-color: #2F2F2F;
    box-sizing:border-box;
    border-radius: .325rem;
    border: 0;
    color: #f2f2f2;
    font-size: .9rem;
    height: 45px;
    outline: 0;
    padding: .625rem;
    position: relative;
    width: inherit;
}

.main-register__form-select {
    cursor: pointer;
}

.main-register__form-option {
    background-color: #505050;
}

.main-register__form-input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    font-size: 1.2rem;
    filter: invert(100%) sepia(2%) saturate(440%) hue-rotate(298deg) brightness(117%) contrast(90%);
}
