.main-register__header {
    margin: 1.5rem 0;
}

.main-register__title {
    color: var(--orange);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: .625rem;
}

.main-register__subtitle {
    color: var(--gray-light);
    font-size: 1rem;
    font-weight: 300;
}