@import url(header/header.css);
@import url(footer/footer.css);
@import url(variables.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
    font-family: var(--font-f);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.link__default {
    padding: .2rem 0;
    color: var(--orange);
}

.link__default:hover {
    text-decoration: underline;
}

.btn-share {
    display: flex;
    justify-content: space-evenly;
    background-color: #1877f2;
    width: 100px;
    padding: .2rem;
    align-items: center;
    margin-left: auto;
    font-size: .7rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .325rem;
}

.more {
    margin-top: .625rem;
    margin-left: auto;
    font-size: .8rem;
    grid-column: span 2;
}

.btn-closed {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border: none;
    padding: .325rem;
    background-color: transparent; 
}

.btn-closed .fa-solid {
    font-size: 1.5rem;
    color: var(--orange);
    transition: var(--transition);
}

.btn-closed .fa-solid:hover {
    color: #cf6610;
    transition: var(--transition);
}

.p-title {
    padding-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 900;
    border-bottom: 1px solid #fc8524bb;
    padding-bottom: .2rem;
    color: var(--orange);
}

.p-title--modify {
    padding-top: 1rem;
    font-size: 1.2rem;
}