:root {
    --orange: #FC8524;
    --dark-orange: #FE3B17;
    --red-light: #B51C2E;
    --red-dark: #4E0415;
    --gray-dark: #232323;
    --gray-light: #3F3C45;
    --dark: #161616;

    --font-f: 'Roboto', sans-serif;
    --transition: all .2s ease-in-out;
}