/* IMPORT PAGE PANEL LOG */
@import url(login/header__admin-area.css);
@import url(login/admin-area__login.css);
@import url(login/admin-area__container.css);
@import url(login/admin-area__header.css);
@import url(login/admin-area__group.css);
@import url(login/admin-area__input.css);
@import url(login/admin-area__label.css);
@import url(login/admin-area__aside.css);

/* IMPORT PAGE PANEL ADMIN */
@import url(dashboard-admin/dashboard__configuration.css);
@import url(dashboard-admin/dashboard__menu-icon.css);
@import url(dashboard-admin/dashboard__profile.css);
@import url(dashboard-admin/dashboard__logo.css);
@import url(dashboard-admin/dashboard__research.css);
@import url(dashboard-admin/dashboard__menu.css);
@import url(dashboard-admin/dashboard__items.css);
@import url(dashboard-admin/dashboard__link.css);
@import url(dashboard-admin/dashboard__footer-container.css);


/* PAGE LAYOUT DIVISION */
.dashboard__grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
}

.dashboard__header {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    grid-column: span 3;
    justify-content: space-between;
}

.dashboard__aside {
    background-color: #D9D9D9;
    grid-column: 1;
    grid-row: 1/4;
    height: 100vh;
    position: relative;
    user-select: none;
}

.dashboard__main {
    grid-column: span 3;
}

.dashboard__footer {
    grid-column: span 3;
}


/* MODIFYING COMPONENTS */
.justify__center {
    justify-content: center;
}

.disabled-display {
    display: none;
}