.user-management {
    padding: .6rem;
    background-color: #f5f5f5;
    height: 100%;
}

.user-management__header {
    display: flex;
    align-items: center;
}

.user-management__header>.user-management__icon {
    font-size: 1.8rem;
    color: #505050;
    margin-right: .5rem;
}

.user-management__title-2 {
    font-size: 1.2rem;
    color: #505050;
    font-weight: 500;
}

.user-management__subtitle {
    font-size: .7rem;
    color: #757575;
}

.user-management__container {
    margin-top: 2rem;
}

.user-management__add-user {
    display: flex;
    margin-left: auto;
    font-size: .8rem;
    background-color: #FE3B17;
    border-radius: .25rem;
    color: var(--color-sec);
    align-items: center;
    gap: .5rem;
    padding: .3rem 1rem;
    margin-bottom: .8rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
}

.user-management__add-user:hover {
    background-color: #d12305;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, .1);
    transition: var(--transition);
}

.user-management__add-user .bi {
    font-size: 1rem;
}

.user-management__grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-sec);
    border-radius: .25rem;
    padding-top: .3rem;
    padding-bottom: 1rem;
    border-top: 2px solid #bbbbbb8a;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .1);
}

.user-management__title-3 {
    grid-column: 1;
    margin-left: .5rem;
    color: #505050;
}

.user-management__survey {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    grid-column: 3;
    margin-right: 1rem;
    height: 30px;
    border-radius: 0 .3rem .3rem 0;
    overflow: hidden;
    border: 1px solid #dfdfdf;

}


.user-management__search {
    padding: .225rem;
    display: block;
    width: 150px;
    height: 100%;
    font-size: .8rem;
    border: 0;
    border-right: 1px solid #dfdfdf;
    background-color: transparent;
    outline: none;
}

.user-management__survey>.user-management__icon {
    font-size: .9rem;
    max-height: 100%;
    width: 35px;
    padding: .5rem;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    outline: none;
}


.user-management__change {
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    background-color: #0487D9;
}

.user-management__change:nth-child(2) {
    background-color: #D9072D;
}

.user-management__change>.bi {
    display: block;
    font-size: 1rem;
    padding: .5rem .3rem;
    color: var(--color-sec);
}

.user-management__change>.bi:hover {
    animation: infinite 3s transformeIcon;
}

@keyframes transformeIcon {
    0% {
        transform: scale(105%);
        color: rgb(233, 233, 233);
    }

    50% {
        transform: scale(90%);
        color: var(--color-sec);
    }

    100% {
        transform: scale(108%);
        color: rgb(228, 228, 228);
    }
}


/*TABELA SEPARAR DEPOIS EM UM ARQUIVO*/
.user-management__table {
    grid-column: span 3;
    margin-top: .3rem;
}

table th {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: .6rem;
    font-weight: bold;
    font-size: .9rem;
    color: #313030;
    text-align: left;
}



table td {
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    padding: .3rem .6rem;
    color: #595959;
    font-size: .9rem;
}

table th:last-child,
table td:last-child {
    text-align: center;
}



/* OVERLAY */
.overlay {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35, .3);
}

/* ALTERAR LISTA DE USUÁRIOS */


/* ADICIONAR USUÁRIO */
.addUser {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.addUser .overlay-cad {
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35, .3);
}


.user-management__addUser-container {
    position: relative;
    width: 100%;
    max-width: 460px;
    height: auto;
    background-color: whitesmoke;
    border-radius: .3rem;
}

.user-management__addUser-container img {
    display: block;
    height: 70px;
    width: auto;
    margin: 2rem auto 1rem;
    pointer-events: none;
}


/* .user-management__addUser-form {
    
} */

.user-management__addUser-fieldset {
    display: flex;
    flex-direction: column;
    padding: .5rem 0rem;
    gap: .3rem;
}

.user-management__addUser-fieldset label {
    font-size: 1.2rem;
    padding-left: .125rem;
}

.user-management__addUser-fieldset input {
    padding: .5rem .3rem;
}

.user-management__addUser-fieldset select {
    padding: .5rem .3rem;
}


.user-management__addUser-closed {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: .5rem;
    font-size: 1.3rem;
    border: 0;
    background-color: transparent;
    color: #595959;
    cursor: pointer;
    user-select: none;
    border-radius: .5rem;
}

.user-management__addUser-closed:hover {
    background-color: #d4d4d4;
    transition: var(--transition-2);
}

.user-management__addUser-form {
    padding: 1rem 4rem;
}

.btn_user {
    margin: 1rem 0;
    padding: .5rem;
    cursor: pointer;
    border-radius: .3rem;
    margin-right: .3rem;
    background-color: var(--dark-orange);
    border: 0;
    color: var(--color-sec);
    transition: var(--transition);

}

.btn_user:nth-child(2) {
    background-color: #cecece;
}

.btn_user:hover {
    background-color: #d12305;
    transition: var(--transition);
}

.btn_user:nth-child(2):hover {
    background-color: var(--gray-light);
    transition: var(--transition);
}